include reviews-book-data

section.reviews
	.container
		h2.reviews__title.section__title Рецензии
		ul.reviews__list
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src= reviewsBook[0].img alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name= reviewsBook[0].name
							p.reviews__counte= reviewsBook[0].count
					p.reviews__reviewe= reviewsBook[0].review
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src= reviewsBook[1].img alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name= reviewsBook[1].name
							p.reviews__counte= reviewsBook[1].count
					p.reviews__reviewe= reviewsBook[1].review
			li.reviews__item
				.reviews__wrapper
					.reviews__info
						.reviews__box-images
							img.reviews__img(src= reviewsBook[2].img alt="Фото автора отзыва" width="80" height="80")
						.reviews__box
							h3.reviews__name= reviewsBook[2].name
							p.reviews__counte= reviewsBook[2].count
					p.reviews__reviewe= reviewsBook[2].review
