-
	var books = [
		{
			name: "Фигурная абстракция",
			author: "Смит Ч.",
			img: `${pathContentImg}book-iron-king.jpg`,
			description: "Про искусство, дизайн, а также теорию цвета и формы",
			star: "3.8",
			pages: "416",
			link: "figured-abstraction.html",
			width: "221",
			height: "221"
		},
		{
			name: "Пустошь",
			author: "Малкин А.",
			img: `${pathContentImg}book-fox-hole.jpg`,
			description: "Научно-фантастический роман о путешествии через опустошенную пустыню",
			star: "4.2",
			pages: "336",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Высший свет",
			author: "Зоммер Р.",
			img: `${pathContentImg}book-just-masa.jpg`,
			description: "Исследует роль элиты в развитии общества и ее влияние на политику",
			star: "4.5",
			pages: "448",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Ангельский мир",
			author: "Фрэй С.",
			img: `${pathContentImg}book-green-light.jpg`,
			description: "Фантастическая книга о загадочном мире ангелов и людей",
			star: "3.9",
			pages: "320",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Завтра на завтрак",
			author: "Плетнёв Л.",
			img: `${pathContentImg}book-sun-midnight.jpg`,
			description: "Мир, где технологии развиваются быстрее, чем человеческий разум",
			star: "3.5",
			pages: "784",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Созерцая красоту залива",
			author: "Бакман Ф.",
			img: `${pathContentImg}book-second-life.jpg`,
			description: "Захватывающая история о том, как небольшой залив превращается в источник",
			star: "4.4",
			pages: "384",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "На грани",
			author: "Роуз М.",
			img: `${pathContentImg}book-istrebitel.jpg`,
			description: "Роман о группе исследователей, которые отправляются на остров",
			star: "3.9",
			pages: "576",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Сонное дерево",
			author: "Новак К.",
			img: `${pathContentImg}book-lavr.jpg`,
			description: "История о таинственном дереве, которое растет на границе двух миров",
			star: "4.1",
			pages: "448",
			link: "#",
			width: "221",
			height: "221"
		}
	];
